numpy
Pillow
transformers
open_clip_torch
FlagEmbedding
pydantic
timm==0.6.13
opencv-python
ffmpeg-python
tqdm
accelerate
einops
gin-config
h5py
matplotlib
pandas
pytz
tensorboardX

torchmetrics
torchscale
youtube-transcript-api

# New dependencies required for pipeline and DB
av
PyYAML
elasticsearch

# Dependencies for Retrieval and LLM services
faiss-cpu
langdetect
langchain-core
langchain-google-genai
langchain-openai
langchain-azure-ai
deep-translator
setuptools
flask
flask-cors
pymilvus
pymongo
pydantic-settings
