torch>=2.0.0
torchvision>=0.15.0
numpy
Pillow
transformers
open_clip_torch
FlagEmbedding
pydantic
timm==0.6.13
opencv-python
ffmpeg-python
tqdm
accelerate
einops
gin-config
h5py
matplotlib
pandas
pytz
tensorboardX
tensorflow
torchmetrics
torchscale
youtube-transcript-api
